<h2 class="title">Search</h2>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <input
    class="input"
    type="text"
    formControlName="track"
    placeholder="Track"
  />
  <br />
  <input
    class="input"
    type="text"
    formControlName="artist"
    placeholder="Artist"
  />
  <br />
  <input
    class="input"
    type="number"
    formControlName="year"
    placeholder="Year"
  />
  <br />
  <button class="btn" type="submit">Search</button>
</form>
<button class="btn" (click)="onSurprise()">Surprise Me!</button>

<app-songs [songs]="songs"></app-songs>
