<h2 class="title">Search</h2>

<form class="container" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-6">
      <input
        class="input"
        type="text"
        formControlName="track"
        placeholder="Track"
      />
    </div>
    <div class="col-xs-6">
      <button class="btn" (click)="onSurprise()">Surprise Me!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <input
        class="input"
        type="text"
        formControlName="artist"
        placeholder="Artist"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <input
        class="input"
        type="number"
        formControlName="year"
        placeholder="Year"
      />
    </div>
    <div class="col-xs-6">
      <button class="btn" type="submit">Search</button>
    </div>
  </div>
</form>

<br />

<app-songs [songs]="songs"></app-songs>
