.input {
  font-size: 2em;
  border-radius: 2px;
}

.input:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.container {
  margin: 0;
  margin-left: 2px;
  padding: 0;
}

.btn {
  font-size: 1.75em;
  border: 1px solid black;
  margin-left: 10px;
}

.btn:hover {
  background-color: rgba(200, 200, 255, 0.35);
}

.row {
  padding-top: 2%;
}
