<div>
  <router-outlet></router-outlet>
  <br />
  <button routerLink="/main">View Playlist</button>
  <br />
  <p>Hello World</p>
  <audio #MyAudio (play)="onPlay()" controls></audio>
  <br />
  <input type="file" (change)="fileChange($event)" />
  <br />
  <fa-icon [icon]="['fas', 'cog']" [spin]="true"></fa-icon>
  <p>
    Hello <del><mark>World</mark></del>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <fa-icon [icon]="['fas', 'sun']"></fa-icon>
      </div>
      <div class="col-xs-6">
        <fa-icon [icon]="['fas', 'moon']"></fa-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <fa-icon [icon]="['fas', 'sun']"></fa-icon>
      </div>
      <div class="col-xs-6">
        <fa-icon [icon]="['fas', 'moon']"></fa-icon>
      </div>
    </div>
  </div>
  <br />
  <canvas #MyCanvas style="width: 500px; height: 500px"></canvas>
</div>
