.title-text {
  display: inline;
}

.excl {
  font-weight: bold;
  color: rgb(255, 165, 165);
}

.btn {
  margin: 2px 0px;
  border: 1px solid black;
}

.btn:hover {
  background-color: rgba(128, 128, 255, 0.35);
}
